@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);
/* var text-decoration */
/*--
	Common Css
--*/
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #212121;
  color:#fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
  font-family: 'Montserrat', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: #666;
}
/*--
	Header Start 
--*/
header {
 
  padding:0px 0px 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}
font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}
/*---------------------------------------------
					Index Start 
-----------------------------------------------*/
/*--
	Slider Start 
--*/
/*
#slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
} */
#slider1 {
  background: url("../img/intro-img.jpg") no-repeat ; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 421px;

 
}
#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #8b86a3, #322e40);
  opacity: 0.8;
}
#slider .block {
  color: #E3E3E4;
}
#slider .block h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 45px;
}
#slider .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}


/*--
	wrapper Start 
--*/
#intro {
  padding: 100px 0;
}
#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#intro .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#intro .block img {
  padding-left: 40px;
  width: 100%;
}
#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
}
/*--
	service Start 
--*/
#service {
  text-align: center;
  padding: 90px 0;
}
#service .service-item {
  padding-bottom: 30px;
}
#service .service-item i {
  font-size: 60px;
  color: #4A4656;
}
#service .service-item h4 {
  padding-top: 20px;
  margin: 0;
  color: #666;
}
#service .service-item p {
  color: #888;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}
/*--
	call-to-action Start 
--*/
#call-to-action {
  background: url("../img/call-to-action-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0px;
  position: relative;
  text-align: center;
  color: #fff;
}
#call-to-action:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #1d192c;
  opacity: 0.8;
}
#call-to-action h2 {
  padding-bottom: 20px;
  line-height: 33px;
  margin: 0;
  font-size: 30px;
}
#call-to-action p {
  font-size: 14px;
  line-height: 1.6;
}
#call-to-action .btn-call-to-action {
  padding: 15px 35px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  color: #333333;
  margin-top: 30px;
}
/*--
	Feature Start 
--*/
#feature {
  background: url("../img/featue-bg.jpg");
  background-position: 50% 94px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 100px 0;
}
#feature h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
#feature p {
  color: #8d8f92;
  margin-bottom: 20px;
}
#feature .btn-view-works {
  background: #655E7A;
  color: #fff;
  padding: 10px 20px;
}
/*--
	content Start 
--*/
#testimonial {
  padding: 100px 0;
}
#testimonial .block h2 {
  line-height: 27px;
  color: #5C5C5C;
  padding-top: 110px;
}
#testimonial .block p {
  padding-top: 50px;
  color: #7B7B7B;
}
#testimonial .counter-box li {
  width: 50%;
  float: left;
  text-align: center;
  margin: 30px 0 30px;
}
#testimonial .counter-box li i {
  font-size: 35px;
}
#testimonial .counter-box li h4 {
  font-size: 30px;
  font-weight: bold;
}
#testimonial .counter-box li span {
  color: #555;
}
#testimonial .testimonial-carousel {
  text-align: center;
  width: 75%;
  border: 1px solid #DEDEDE;
  padding: 24px;
  margin: 0 auto;
}
#testimonial .testimonial-carousel img {
  padding-bottom: 38px;
}
#testimonial .testimonial-carousel p {
  line-height: 28px;
  font-weight: 300;
  padding-bottom: 20px;
}
#testimonial .testimonial-carousel .user img {
  padding-bottom: 0px;
  border-radius: 500px;
}
#testimonial .testimonial-carousel .user p {
  padding-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  color: #353241;
}
#testimonial .testimonial-carousel .user p span {
  display: block;
  color: #353241;
  font-weight: 600;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div {
  border: 1px solid #1D1D1D;
  border-radius: 500px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div.active {
  background: #5C5C5C;
  font-size: 30px;
  display: inline-block;
  border: 0px;
}
/*--
	features Start 
--*/
#clients-logo-section {
  padding-top: 30px;
  padding-bottom: 75px;
}
#clients-logo-section .clients-logo-img {
  padding: 0px 50px;
}
/*---------------------------------------------
					Work Start 
-----------------------------------------------*/
/*--
	Slider-work Start 
--*/
#global-header {
  background: url("../img/slider-bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
  text-align: center;
}
#global-header .block h1 {
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 6px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}
/*--
	portfolio-work Start 
--*/
#portfolio-work {
  overflow: hidden;
  padding: 80px 0;
}
#portfolio-work .block .portfolio-menu {
  padding-bottom: 30px;
  text-align: center;
}
#portfolio-work .block .portfolio-menu ul {
  border: 1px solid #999999;
  display: inline-block;
  margin-bottom: 40px;
}
#portfolio-work .block .portfolio-menu ul li {
  display: inline-block;
  padding: 0px 25px;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  text-transform: capitalize;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active {
  color: #655E7A;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 23px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-menu ul li:hover:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 24px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-contant ul li {
  float: left;
  width: 32.22%;
  overflow: hidden;
  margin: 6px;
  position: relative;
}
#portfolio-work .block .portfolio-contant ul li:hover .overly {
  opacity: 1;
}
#portfolio-work .block .portfolio-contant ul li:hover .position-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#portfolio-work .block .portfolio-contant ul li a {
  display: block;
  color: #fff;
}
#portfolio-work .block .portfolio-contant ul li a h2 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#portfolio-work .block .portfolio-contant ul li a p {
  font-size: 15px;
}
#portfolio-work .block .portfolio-contant ul li a span {
  font-style: italic;
  font-size: 13px;
  color: #655E7A;
}
#portfolio-work .block .portfolio-contant ul img {
  width: 100%;
  height: auto;
}
#portfolio-work .block .portfolio-contant .overly {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-align: center;
}
#portfolio-work .block .portfolio-contant .position-center {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(0%, 50%);
  -moz-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
#portfolio-work .block .mix {
  display: none;
}
/*--
	wrapper-work Start 
--*/
#wrapper-work {
  overflow: hidden;
  padding-top: 100px;
}
#wrapper-work ul li {
  width: 50%;
  float: left;
  position: relative;
}
#wrapper-work ul li img {
  width: 100%;
  height: 100%;
}
#wrapper-work ul li .items-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 44px;
  padding-top: 140px;
}
#wrapper-work ul li .items-text h2 {
  padding-bottom: 28px;
  padding-top: 75px;
  position: relative;
}
#wrapper-work ul li .items-text h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  background: #fff;
}
#wrapper-work ul li .items-text p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  padding-right: 80px;
}
/*--
	features-work Start 
--*/
#features-work {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-work .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
					Work Close 
-----------------------------------------------*/
/*=============================================*/
/*---------------------------------------------
					 Contact Start 
-----------------------------------------------*/
/*--
	slider-contact Start 
--*/
#slider-contact {
  background: url("../img/slider-bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
}
#slider-contact:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#slider-contact .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
}
#slider-contact .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 6px;
  padding-bottom: 15px;
}
#slider-contact .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}
/*--
	contact-form Start 
--*/
#contact-form, #registro-form, #formulariologin, #grupal-form, #suscriptor-form, #formulario-olvido {
  padding-top: 0px;
  padding-bottom: 35px;
}
#contact-form .block form .form-group ,   #registro-form .block form .form-group ,   #formulariologin .block form .form-group, #grupal-form .block form .form-group, #suscriptor-form .block form .form-group , #formulario-olvido .block form .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group .form-control,  #registro-form .block form .form-group .form-control , #formulariologin .block form .form-group .form-control, #grupal-form .block form .form-group .form-control, #suscriptor-form .block form .form-group .form-control , #formulario-olvido .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block form .form-group-2 ,  #registro-form .block form .form-group-2, #formulariologin .block form .form-group-2 , #grupal-form .block form .form-group-2, #suscriptor-form .block form .form-group-2, #formulario-olvido .block form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group-2 textarea ,  #registro-form .block form .form-group-2 textarea , #formulariologin .block form .form-group-2 textarea , #grupal-form .block form .form-group-2 textarea , #suscriptor-form .block form .form-group-2 textarea, #formulario-olvido .block form .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block button ,  #registro-form .block button , #formulariologin .block button, #grupal-form .block button, #suscriptor-form .block button, #formulario-olvido .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#contact-form label , #registro-form label , #formulariologin label, #grupal-form label, #suscriptor-form label, #formulario-olvido label {
  
  width: 100%;
  text-align: left;
  font-size: 16px;
}
#contact-form input ,  #registro-form input , #formulariologin input , #grupal-form input, #suscriptor-form input, #formulario-olvido input {
  border: 2px solid #10b799;
  background-color: transparent;
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 16px;
}
#contact-form select ,  #registro-form select, #formulariologin select , #grupal-form select, #suscriptor-form select, #formulario-olvido select {
  border: 2px solid #10b799;
  background-color: transparent;
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 16px;
}
/*--
	wrapper-contact Start 
--*/
.address-block li {
  margin-bottom: 20px;
}
.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
}
.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}
.google-map {
  position: relative;
}
.google-map #map {
  width: 100%;
  height: 300px;
  background-color: #ff432e;
}
#contact-box {
  padding-top: 35px;
  padding-bottom: 58px;
}
#contact-box .block img {
  width: 100%;
}
#contact-box .block h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}
#contact-box .block p {
  color: #5C5C5C;
  display: block;
}
/*--
	features-contact Start 
--*/
#features-contact {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-contact .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
					Contact Close 
-----------------------------------------------*/
/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/
/*--
	footer Start 
--*/
footer {
  background: #212121;
  color:#fff;
  text-align: left;
  padding-bottom: 40px;
  margin-top:50px;
  
}

footer a {
  color:#fff;

}
footer .footer-manu {
  padding-bottom: 25px;
 
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 10px;
  float: left;
}
footer .footer-manu ul li a {
  display: inline-block;
  color:#fff;
}
footer .footer-manu ul li a:hover {
  color:#fff;
}

/* Agregado */
/* Sección botonera arriba */


.semana-de-prueba{
 
 padding:4px 15px;
}
.semana-de-prueba a{
 border-radius: 0px 0px 16px 16px; 
 border-bottom: 1px solid #0fe3bc;
 border-right-color:1px solid #0fe3bc;
 border-left-color:1px solid #0fe3bc;
  background-color:#018d7b;
  padding: 9px 15px;
}

.semana-de-prueba a, .seccion-usuarios a{
  color:#fff;
  font-size: 14px;
  font-weight: 500;
}
.semana-de-prueba a:hover{
  color:#0fe3bc;
}
.seccion-usuarios a{
  color: #0fe3bc;
}
.seccion-usuarios a:hover{
  color: #fff;
}
.seccion-usuarios .usuarios{
  border-radius: 0px 0px 16px 16px; 
  border-bottom: 1px solid #0fe3bc;
  border-right-color:1px solid #0fe3bc;
  border-left-color:1px solid #0fe3bc;
  background-color:#212121;
  color:#018d7b;
  padding: 9px 12px;
  width: 52%;
  float: right;
  
}

.seccion-usuarios{
 text-align: center;
  padding:0px 15px;
}

.header-all{
  background-image: url(../img/papel-bg.jpg);
}
.logo-arriba{
  text-align: center;
  
  margin-top: 20px;
}
.logo-arriba a{
  margin: auto;
 
 width: auto;
}
.logo-arriba img{
  display: inline;
}
.botonera{
  background-color: #15b29f;
  text-align: center;
}
.botonera .navbar-collapse{
 margin: auto;
}

.botonera .navbar-nav li a{
 color:#fff;
font-size: 18px;
font-family: 'Montserrat', sans-serif;  font-weight: 500;
}
.nav>li>a:hover, .nav>li>a:focus{
  background-color: #212121;
}
.botonera .navbar-nav .sus {
  background-color: #018d7b;
}
.botonera .navbar-nav .active{
  background-color:#212121;
}
#slider {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#slider video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#slider .container {
  position: relative;
  z-index: 2;
}

#slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.w-100 {
  width: 100%!important;
}
.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  z-index: 3;
  color: #fff;
  
  width: 100%;
  margin: auto;
  margin-top: 15%;
}
.btn-verde{
  border: 2px solid #10b799;
  background-color: transparent;
  padding: 10px 25px;
  font-size: 18px;
  margin-top:40px;
  border-radius: 10px;
  color:#10b799;
  font-weight: 500;
}
.btn-verde:hover, .btn-verde:focus{
  border: 2px solid #0fe3bc;
  background-color: transparent;
  color:#0fe3bc;
 
}
/* Home Audio - reprocutor */
#audio {
  padding-top: 10px;
  padding-bottom: 10px;
 
}
#audio .reproductor {
  padding-top: 10px;
  text-align: center;
}
.cafecito {
    margin-top: 0px;
    float: left;

}

.fraja-negra{
  background-color: #000;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
} 
.fraja-negra h3{
  color: #fff;
  font-size: 18px;
  font-weight: 300;

  
}

.resumen , .conocenos, .suscripcion{
  background-color:#212121;
  padding-top:4em;
  padding-bottom: 4em;
  text-align: center;
}
.resumen h4{
  text-align: center;
  
}
.resumen .icono-cafe{
  
  width: 90px;
  margin-bottom: 40px;
}
.resumen p{
  text-align:left;
  padding: 5px 25%;
 
}
.conocenos p{
  text-align:left;
  padding: 4px 25% 4px  0px ;
 
}
.suscripcion p{
  text-align:left;
  padding: 4px;
 
}
.diarios{
  background-image: url(../img/papel-bg.jpg);
  padding-top:50px;
  padding-bottom: 50px;
}
.tipos-suscripcion{
  padding-top:4em;
  padding-bottom: 4em;
}
.tipos-suscripcion h4{
  text-align: center;
  color:#0fe3bc;
  padding-top: 1em;
  padding-bottom: 2em;
}
.tipos h5{
  
  text-align: center;
  font-size: 22px;
  font-weight:500;
}
.tipos img{
  margin: auto;
}

.tipos .parrafo{
  padding-left: 22px;
  padding-right: 22px;

 }
 .tipos .parrafo h6{
  color:#0fe3bc;
  font-size: 15px;
  width: 50%;
  line-height: 22px;

 }
 .tipos .parrafo p{
  color:#fff;
  font-size: 15px;
  line-height: 22px;
 }

 .tipos .parrafo .btn-verde-sus{
  border: 2px solid #10b799;
  background-color:#10b799;
  padding: 10px 25px;
  font-size: 18px;
  margin-top:40px;
  border-radius: 10px;
  color:#fff;
  font-weight: 500;
  width: 100%;
 }
.tipos h4{text-align:left;
margin-top:5px;
margin-bottom: 5px;
padding: 5px 0px;
}
 .grupos {
  background-image: url(../img/papel-bg.jpg);
 padding-top:30px;
 padding-bottom: 30px;
}
.grupos .ronda{
 float: right;
}
.grupos .btn-nueva{
  border: 1px solid #ec6b03;
  background-color: #ec6b03;
  padding: 5px 20px;
  font-size: 14px;
  margin-top:40px;
  border-radius: 0px;
  color:#fff;
  font-weight: 500;
}
.grupos .btn-nueva:hover, .grupos .btn-nueva:focus{
  border: 1px solid #ec6b03;
  background-color: #ec6b03;
  color:#fff;
}
.grupos h4, .grupos p{
  color:#000;
}
.grupos h4{
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
}
.grupos p{
  margin-bottom: 20px;
  width: 70%;
}
.btn-verde-grupo{
  border: 2px solid #10b799;
  background-color: #10b799;
  padding: 10px 25px;
  font-size: 18px;
  margin-top:20px;
  border-radius: 10px;
  color:#fff;
  font-weight: 500;
  width: 40%;
}
.btn-verde-grupo:hover, .btn-verde-grupo:focus{
  border: 2px solid #10b799;
  background-color: #10b799;
  color:#fff;
}
footer{
  
}
footer .cafe-footer{
 margin-top: -16px;
  width: 50px;
  float: left;
}
footer .footer-manu ul .zoom-social_icons-list__item
{
  float: right;
}
.verde, .link-verde{
  color:#0fe3bc;
}
.link-verde:hover{
  color:#018d7b;
}
.listado-noticias{
  text-align: left;
  margin-bottom: 120px;
  width: 100%;
  float: left;
  height: auto;
  
}
.listado-noticias .campaign {
  line-height: 200%;
  margin: 10px 22px;
  
 
}
.campaign a{
  color:#10b799;
}
.listado-noticias .campaign{
  float:left;
  width: 29%;
}
/* Sección Conocenos */
#accordion{
 
  text-align: left;
  margin-top:50px;
}
#accordion h4{
  text-align: left;
  width: 100%;
}

.wp-block-pb-accordion-item h4 {
  text-align: left;
}
.c-accordion__item.no-js .c-accordion__content{display:block !important}.c-accordion__item.no-js .c-accordion__title{padding-right:none;cursor:default}.c-accordion__item.no-js .c-accordion__title:after{display:none}.c-accordion__title--button{display:inline-block;color:inherit;background-color:transparent;text-align:left;vertical-align:middle;font:inherit;text-decoration:none;direction:ltr;border:none;border-radius:0;width:100%;height:auto;padding:0;margin:0;transition:0;box-shadow:none;overflow:auto;-webkit-appearance:none;-moz-appearance:none;appearance:none}.c-accordion__title--button:focus,.c-accordion__title--button:hover{color:inherit;background-color:transparent}.c-accordion__title{position:relative;padding-right:2rem;cursor:pointer}.c-accordion__title:after{position:absolute;top:50%;right:0;content:"+";color:#777;font-weight:300;transform:translateY(-50%)}.is-open>.c-accordion__title:after{content:"\2212"}[data-initially-open="false"] .c-accordion__content{display:none}@media print{.c-accordion__content{display:block !important}}

.ac-heading-level-dropdown .components-popover__content{min-width:266px}.ac-heading-level-dropdown .components-popover__content>div{padding:0}.ac-heading-level-toolbar{border:none}.editor-styles-wrapper .c-accordion__item:after{display:block;content:"";width:100%;height:1px;margin:0 auto}.editor-styles-wrapper .c-accordion__item.is-selected:after{background-color:var(--wp-admin-theme-color)}


.nosotros {
  background-image: url(../img/papel-bg.jpg);
  height:auto;
  margin-bottom: 50px;
  padding-top:10px;
  padding-bottom: 60px;
 
}
.nosotros .titulo-negro{
  text-align: center;
  color:#21211f;
  margin-top:20px;
margin-bottom: 20px;
font-size: 21px;
font-weight: 600;
}
.nosotros .texto h4{
  color:#008f7a;
}

.nosotros .texto p{
  
  color:#21211f;
}
.resumen .verde{
  margin-top: 20px;
}
.terminos{
  text-align: left;
  padding-left:0px;
  margin-top:20px;
  margin-bottom: 40px;
  font-style: italic;
}
/* Ver suscripciones */
.titulo-blanco{
  margin-bottom: 80px;
}
.botones-pago{
  
  margin-top:40px;
}
.botones-pago .btn-verde-sus{
  border: 2px solid #10b799;
  background-color:#10b799;
  padding: 10px 2px;
  font-size: 16px;
  margin-top:5px;
  border-radius: 10px;
  color:#fff;
  font-weight: 500;
  width: 90%;
 }
 .botones-pago .parrafo h6{
  color:#0fe3bc;
  font-size: 18px;
  width: 100%;
  line-height: 22px;

 }
 .botones-pago .stripe{
   background-color:transparent;
   color:#0fe3bc;
 }
 .botones-pago .parrafo p{
  color:#fff;
  font-size: 18px;
 
  line-height: 22px;
 }
 .botones-pago .mercado{
   margin-top:40px;
   margin-bottom: 10px;
 }
 /*Login Form */
 .login-form{
   
  margin-top:50px;
  margin-bottom: 50px;
 text-align: center;
 }
 #contact-form, #formulariologin, #formulario-olvido{
   width: 40%;
  margin:0px auto;
 }
 #registro-form ,#grupal-form, #formulario-registro{
   width: 80%;
  margin:0px auto;
 }
 #contact-form .btn-login , #registro-form .btn-login, #formulariologin .btn-login, #grupal-form .btn-login, #formulario-registro .btn-login, #suscriptor-form .btn-login,  .btn-login, #formulario-olvido .btn-login{
   background-color: #10b799;
   color:#fff;
   border:none;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
  border: 2px solid #10b799;
 background-color:#10b799;
  padding: 10px 25px;
  font-size: 18px;
  margin-top: 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  width: 100%;
}
.forgot{
  padding:0px;
  text-align: left;
}
.forgot a, .reg a{
 
  color:#fff;
  font-weight: 500;
 
}
.forgot a:hover, .reg a:hover{
  color:#5C5C5C;
}
.reg{
  padding:0px;
  text-align: right;
}
 /* registro */
#exampleCheck1{
  width: 20px!important;
  float: left;
}
.form-check-label{
  
  width: 50%!important;
  float: left;
  padding-top: 20px;
}
 .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
   text-align: left;
   color: #fff;
 }
 .termino
 {
width: 100%;
float: left;
 }
 .form-control{
   color:#fff;
 }
 /* Terminos y condiciones */
 .p-parrafo{
   margin-top:50px;
 }
 /* Ver Sección Particular */

.titulo-sus{
text-align: left;
font-weight: 500;
font-size: 19px;
padding-top: 20px;
padding-bottom: 20px;
}
 .precio-sus{
   text-align: right;
   font-weight: 500;
font-size: 18px;
padding-top: 20px;
padding-bottom: 20px;
 }
.perfil {

    margin-top: 40px;
    text-align: center;
}
.perfil h4,
.perfil p {
    width: 80%;
    padding: 0;

    text-align: left;
    margin: auto;
}
.editar-perfil{
  margin-top: 20px;
}
.editar-perfil h4{
 text-align: left;
 width: 80%;
 margin: auto;
 margin-top: 20px;
 
}
.cada-perfil{
 
  margin-top: 20px;
}
.cada-perfil p{
  
  width: 75%;
  
 }
.cada-boton{

  margin-top: 40px;
}
.botonera-izq{
 
}
.botonera-izq li{
margin-top: 10px;
text-align: left;
}
.botonera-izq li a{
  color:#fff;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 0px;
 
}
.botonera-izq li a:hover{
  color:#5C5C5C;
}
/*Agregar Suscriptor */
.volver{
  width: 100%;
  
  float: left;
  text-align: left;
  font-size: 16px;
}


.btn-verde-s{
  border: 2px solid #10b799;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;

  border-radius: 10px;
  color:#10b799;
  font-weight: 500;
}
.btn-verde-s:hover{
  border: 2px solid #10b799;
  background-color: #10b799;
  padding: 10px;
  font-size: 16px;

  border-radius: 10px;
  color:#fff;
  font-weight: 500;
}
